.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-headerx {
  background-color: #282c34;

  display: flex;
  text-align: left;
  flex-direction: column;

  justify-content: center;
  font-size: 20vmin;
  color: white;
}


.App-header {
  background-color: #282c34;
  padding: 25px;
  display: flex;
  text-align: left;
  flex-direction: column;

  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-intro {
 justify-content: center;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
